#ikushum_image_slider{
	overflow: hidden;
	width:1000px;
	height:850px;
	margin:0px auto;
}
img.ikushum_image{
	position: absolute;
	display: none;
}

a{
	position: relative;
	font-size:30px;
	cursor:pointer;
}

a#next{
	float:right;
	top:45%;
}

a#prev{
	top:45%;
}

